# Telegram бот конфигурация (пример)
telegram_botToken=Your token here.
telegram_botId=Your Bot ID here.
telegram_maxAgeSeconds=Max Age of Data.
telegram_maxAgeSeconds_warn=false
telegram_checkDataELog=true
telegram_useTestKey=false